body {
  background: #f4f4f2;
  padding: 60px 0;
}

.App {
  margin: 40px 0;
  max-width: 960px;
  margin: 0 auto;
}

.App h1 {
  text-align: center;
  margin-bottom: 30px;
}

.App footer {
  text-align: center;
  font-size: 14px;
  opacity: 0.9;
}

.App footer a {
  color: #a760ff;
}
